name = "blog-notion-api"
main = "src/main.js"
compatibility_date = ""

[vars]
CORS_WHITE_LIST=""
CACHE_MAX=50
CACHE_TTL=3600
API_KEY_EXPIRATION=300

[vars.env]
NOTION_TOKEN = ""
NOTION_DATABASE_ID=""

[[kv_namespaces]]
binding = ""
id = ""
